.c-bars {
  overflow: hidden;
  padding-top: 50px;
}

.c-bars__background {
  @include angle(before);
  overflow: visible;
  transition: background-color 0.4s;
}

.c-bars__container {
  padding-bottom: 40px;
  position: relative;
  top: -50px;

  @include media-tablet-up {
    margin: 0 auto;
    max-width: 1240px;
    width: calc(100% - 60px);
  }

  .tns-nav {
    bottom: -50px;
    position: absolute;
    width: 100%;
  }

  .tns-nav button {
    background-color: $color-white;

    &.tns-nav-active {
      background-color: transparent;
      border-color: $color-white;
    }
  }

  .c-slider__control {
    top: 200px;

    @include media-tablet-up {
      top: 270px;
    }

    &--next {
      right: calc(50% - 130px);

      @include media-tablet-up {
        right: 0;
        // left: calc(100vw - 140px);
      }
    }

    &--prev {
      left: calc(50% - 130px);

      @include media-tablet-up {
        left: 0;
        // right: calc(100vw - 140px);
      }
    }
  }
}

.c-bars__slider {
  cursor: grab;
  padding-top: 30px;
  transition-property: all;
}


.c-bars__bar-image {
  @include flex($align: flex-start, $justify: center, $wrap: nowrap);
  margin: 0 auto;
  position: relative;
  width: 113px;

  @include media-tablet-up {
    margin: 0 auto;
    width: 174px;
  }
}

.c-bars__image-wrapper {
  position: relative;
  z-index: 1;
}

.c-bars__image-bar {
  position: absolute;
  top: 10px;
  transition: top .4s;
  width: 80%;
  z-index: 0;

  // .c-slider__item:not(.tns-slide-active) + .tns-slide-active + .tns-slide-active &,
  // .tns-slide-active:first-child + .tns-slide-active & {
  .active-slide & {
    top: -30px;
  }
}

.c-bars__bar-description {
  color: $color-white;
  font-family: $font-heading;
  font-size: 17px;
  left: 50%;
  opacity: 0;
  position: relative;
  text-align: center;
  transform: translateX(-50%);
  transition: opacity 0.4s;
  width: calc(100vw - 40px);

  @include media-tablet-up {
    max-width: 285px;
  }

  // .c-slider__item:not(.tns-slide-active) + .tns-slide-active + .tns-slide-active &,
  // .tns-slide-active:first-child + .tns-slide-active & {
  .active-slide & {
    opacity: 1;
  }
}

.c-bars__nutritional-button {
  display: block;
  margin: 0 auto;
}

.c-bars__modal-description {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.c-bars__modal-meta {
  @include media-tablet-up {
    display: grid;
    border: 1px solid $color-border;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 28px;
  }
}

.c-bars__modal-meta-column {
  @include flex($direction: column, $wrap: nowrap);
  border-top: 1px solid $color-border;
  padding: 20px 0;

  @include media-tablet-up {
    border: 0 none;
  }

  &--carbs {
    @include media-tablet-up {
      border-right: 1px solid $color-border;
      order: 1;
      padding: 0 20px 0 12px;
    }
  }

  &--nutrition {
    @include media-tablet-up {
      grid-column: 1 / span 2;
      order: 0;
      padding: 26px 40px 15px;
    }
  }

  &--ingredients {
    align-items: flex-start;

    @include media-mobile-down {
      padding-bottom: 0;
    }

    @include media-tablet-up {
      order: 2;
      padding: 0 12px 0 20px;
    }
  }
}

.c-bars__modal-meta-heading {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  text-align: center;
}

.c-bars__modal-meta-carb-row {
  display: grid;
  font-size: 18px;
  grid-template-columns: 15px 50px 1fr;
  width: 200px;

  &:last-child {
    border-top: 1px solid $color-border;
    margin-top: 5px;
    padding-top: 5px;
  }
}

.c-bars__modal-meta-carb-value {
  font-weight: 700;
  text-align: right;
}

.c-bars__modal-meta-carb-title {
  padding-left: 20px;
}

.c-bars__modal-meta-ingredients-heading {
  font-size: 14px;
  font-weight: 700;
  margin: 0;

  @include media-tablet-up {
    font-size: 18px;
    margin-bottom: 18px;
  }
}

.c-bars__modal-meta-ingredients-content {
  font-size: 13px;
  margin: 0;
}

.c-bars__modal-mobile-button {
  @include shadow-small-reverse();
  background-color: $color-white;
  bottom: 0;
  padding: 20px;
  position: fixed;
  width: 100%;

  .c-button {
    width: 100%;
  }
}

.c-bars__modal-desktop-button {
  .c-button {
    display: flex;
    margin: 20px auto 10px;
    max-width: 388px;
    width: 100%;
  }
}

.c-bars__modal-close-text-container {
  margin: 30px 0;
  text-align: center;

  @include media-tablet-up {
    margin: 0;
  }
}

.c-bars__modal-close-text {
  appearance: none;
  background-color: transparent;
  border: 0 none;
  color: $color-secondary;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;

  @include media-tablet-up {
    color: $color-primary;
  }
}