.c-content-image__wrapper {
  background-color: $color-white;
  padding: 10px 20px;

  @include media-tablet-up {
    padding: 60px 0;
  }
}

.c-content-image {
  @include media-tablet-up {
    @include flex($align: center, $justify: space-between, $wrap: nowrap);
    margin: 0 auto;
    max-width: 1220px;
    width: calc(100% - 60px);
  }
}

.c-content-image__image-container {
  margin-bottom: 16px;

  @include media-tablet-up {
    margin-bottom: 0;
    margin-right: 70px;
    max-width: 600px;
  }
}

.c-content-image__signature {
  @include flex($direction: column, $wrap: nowrap);

  @include media-tablet-up {
    flex-direction: row;
    order: 1;
  }
}

.c-content-image__signature-image {
  @include media-tablet-up {
    margin-right: 24px;
  }
}

.c-content-image__signature-text {
  font-family: $font-heading;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  text-align: center;

  @include media-tablet-up {
    font-size: 20px;
    text-align: left;
  }
}

.c-content-image__content {
  @include flex($direction: column);

  @include media-tablet-up {
    align-items: flex-start;
    max-width: 535px;
  }
}

.c-content-image__heading {
  text-align: center;

  @include media-desktop-up {
    max-width: 480px;
    text-align: left;
  }
}

.c-content-image__description {
  font-family: $font-heading;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 35px;
  padding-top: 35px;
  position: relative;
  text-align: center;

  @include media-tablet-up {
    font-size: 24px;
    line-height: 1.4;
    text-align: left;
  }

  &:after {
    background-color: $color-secondary;
    content: '';
    height: 4px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 66px;

    @include media-tablet-up {
      left: 0;
      transform: none;
    }
  }
}