<span class="c-svg">
  <svg viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.796138 10.8216C0.408427 11.1716 0.408427 11.739 0.796138 12.089C1.18385 12.439 1.81245 12.439 2.20016 12.089L7.87328 6.96769C8.26099 6.61769 8.26099 6.05023 7.87328 5.70023L2.20016 0.578906C1.81245 0.228906 1.18385 0.228906 0.796138 0.578906C0.408428 0.928906 0.408428 1.49637 0.796138 1.84637L5.76996 6.33641L0.796138 10.8216Z" fill="currentColor"/>
  </svg>
</span>