<span class="c-svg">
  <svg viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.0161133 0.805176V15.6808H20.4701V0.805176H0.0161133ZM18.3549 2.45803L10.2431 8.83224L2.1314 2.45803H18.3549ZM1.72062 14.028V4.26211L10.2431 10.9595L18.7656 4.26211V14.028H1.72062Z" fill="currentColor"/>
  </svg>
</span>