<span class="c-svg">
  <svg viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.44472 7.59265H0.88916V11.0001H3.44472V21.2223H7.70397V11.0001H10.8064L11.1114 7.59265H7.70397V6.17261C7.70397 5.35909 7.86753 5.03709 8.65379 5.03709H11.1114V0.777832H7.86753C4.80427 0.777832 3.44472 2.12631 3.44472 4.70913V7.59265Z" fill="currentColor"/>
  </svg>
</span>