<article class="o-container">
  <h4>Colors</h4>
  <div class="swatches">
    <div class="swatch-container">
      <div class="swatch" style="background-color: #101F2D"></div>
      <div class="swatch-details">#101FD2<br>$color-primary</div>
    </div>
    <div class="swatch-container">
      <div class="swatch" style="background-color: #FFA200"></div>
      <div class="swatch-details">#FFA200<br>$color-secondary</div>
    </div>
    <div class="swatch-container">
      <div class="swatch" style="background-color: #F7F7F7"></div>
      <div class="swatch-details">#F7F7F7<br>$color-offwhite</div>
    </div>
    <div class="swatch-container">
      <div class="swatch" style="background-color: #E5E5E5"></div>
      <div class="swatch-details">#E5E5E5<br>$color-border</div>
    </div>
    <div class="swatch-container">
      <div class="swatch" style="background-color: #F26950"></div>
      <div class="swatch-details">#F26950<br>$color-error</div>
    </div>
    <div class="swatch-container">
      <div class="swatch" style="background-color: #FAC3B9"></div>
      <div class="swatch-details">#FAC3B9<br>$color-error-light</div>
    </div>
    <div class="swatch-container">
      <div class="swatch" style="background-color: #27C7BA"></div>
      <div class="swatch-details">#27C7BA<br>$color-success</div>
    </div>
    <div class="swatch-container">
      <div class="swatch" style="background-color: #93E3DC"></div>
      <div class="swatch-details">#93E3DC<br>$color-success-light</div>
    </div>
  </div>

  <h4>Typography</h4>

  <h1 class="c-h-hero">Hero Headline</h1>
  <pre>.c-h-hero</pre>
  <h1>Headline One</h1>
  <pre>h1, .c-h1</pre>
  <h2>Headline Two</h2>
  <pre>h2, .c-h2</pre>
  <h3>Headline Three</h3>
  <pre>h3, .c-h3</pre>
  <h4>Headline Four</h4>
  <pre>h4, .c-h4</pre>
  <h5>Headline Five</h5>
  <pre>h5, .c-h5</pre>
  <h6>Headline Six</h5>
  <pre>h6, .c-h6</pre>

  <h1 class="c-h--isAlt">Headline One</h1>
  <pre>h1.c-h--isAlt, .c-h1.c-h--isAlt</pre>
  <h2 class="c-h--isAlt">Headline Two</h2>
  <pre>h2.c-h--isAlt, .c-h2.c-h--isAlt</pre>
  <h3 class="c-h--isAlt">Headline Three</h3>
  <pre>h3.c-h--isAlt, .c-h3.c-h--isAlt</pre>
  <h4 class="c-h--isAlt">Headline Four</h4>
  <pre>h4.c-h--isAlt, .c-h4.c-h--isAlt</pre>
  <h5 class="c-h--isAlt">Headline Five</h5>
  <pre>h5.c-h--isAlt, .c-h5.c-h--isAlt</pre>
  <h6 class="c-h--isAlt">Headline Six</h5>
  <pre>h6.c-h--isAlt, .c-h6.c-h--isAlt</pre>

  <p class="c-p1">Headline Body Copy</p>
  <p class="c-p1">Sweet, salty and guilt-free— chocolate lovers unite! The flavor that started it all… Velvety smooth almond butter and California-grown almonds, combine with fresh cocoa powder, organic 85% cacao dark chocolate chips and a dash of pink Himalayan salt for a singular flavor sensation your taste buds will find all too perfect.</p>
  <pre>.c-p1</pre>

  <p>Body Copy</p>
  <p>Sweet, salty and guilt-free— chocolate lovers unite! The flavor that started it all… Velvety smooth almond butter and California-grown almonds, combine with fresh cocoa powder, organic 85% cacao dark chocolate chips and a dash of pink Himalayan salt for a singular flavor sensation your taste buds will find all too perfect.</p>
  <pre></pre>

  <blockquote>
    <p>Pull Quote (Blog)</p>
    <p>“After years researching nutrition and exercise, I’ve come to a simple and uncomplicated truth – the healthiest diets minimize sugar, include quality sources of protein, and maximize clean real foods with performance-boosting health benefits. This is the guiding principle behind every Atlas Bar recipe.”</p>
  </blockquote>
  <pre>blockquote</pre>

  <blockquote class="c-blockquote--isAlt">
    <p>Pull Quote (Blog)</p>
    <p>“The healthiest diets minimize sugar, include quality sources of protein, and maximize clean real foods with performance-boosting health benefits.”</p>
  </blockquote>
  <pre>blockquote.c-blockquote--isAlt</pre>

  <h4>UI Reference</h4>

  <h5>Primary Button (Transparent w/ Border)</h5>
  <p>
    <button class="c-button c-button--isHollow c-button--isPrimary">Learn More</button>
  </p>
  <pre>.c-button.c-button--isHollow.c-button--isPrimary</pre>

  <h5>Secondary Button (Transparent w/ Border)</h5>
  <p>
    <button class="c-button c-button--isHollow c-button--isSecondary">Learn More</button>
  </p>
  <pre>.c-button.c-button--isHollow.c-button--isSecondary</pre>

  <h5>Primary Button (Primary BG)</h5>
  <p>
    <button class="c-button c-button--isDefault c-button--isPrimary">Learn More</button>
  </p>
  <pre>.c-button.c-button--isDefault.c-button--isPrimary</pre>

  <h5>Secondary Button (Secondary BG)</h5>
  <p>
    <button class="c-button c-button--isDefault c-button--isSecondary">Learn More</button>
  </p>
  <pre>.c-button.c-button--isDefault.c-button--isSecondary</pre>

  <h5>Primary Button (Primary BG, Secondary BG on Hover)</h5>
  <p>
    <button class="c-button c-button--isDefault c-button--isPrimaryAlt">Learn More</button>
  </p>
  <pre>.c-button.c-button--isDefault.c-button--isPrimaryAlt</pre>

  <h5>Secondary Button (Secondary BG, Primary BG on Hover)</h5>
  <p>
    <button class="c-button c-button--isDefault c-button--isSecondaryAlt">Learn More</button>
  </p>
  <pre>.c-button.c-button--isDefault.c-button--isSecondaryAlt</pre>

  <h5>Primary Button (White BG)</h5>
  <p class="bg bg--light">
    <button class="c-button c-button--isDefault c-button--isWhitePrimary">Learn More</button>
  </p>
  <pre>.c-button.c-button--isDefault.c-button--isWhitePrimary</pre>

  <h5>Secondary Button (White BG)</h5>
  <p class="bg">
    <button class="c-button c-button--isDefault c-button--isWhiteSecondary">Learn More</button>
  </p>
  <pre>.c-button.c-button--isDefault.c-button--isWhiteSecondary</pre>

  <h5>Text Button</h5>
  <p>
    <button class="c-button c-button--isText c-button--isPrimary">Update Settings</button>
  </p>
  <pre>.c-button.c-button--isText.c-button--isPrimary</pre>

  <h5>Text Button (Underline)</h5>
  <p>
    <button class="c-button c-button--isUnderline c-button--isPrimary">Update Settings</button>
  </p>
  <pre>.c-button.c-button--isUnderline.c-button--isPrimary</pre>

  <h5>Text Button (White)</h5>
  <p class="bg">
    <button class="c-button c-button--isText c-button--isWhite">Update Settings</button>
  </p>
  <pre>.c-button.c-button--isText.c-button--isWhite</pre>

  <h5>Text Button (White + Underline)</h5>
  <p class="bg">
    <button class="c-button c-button--isUnderline c-button--isWhite">Update Settings</button>
  </p>
  <pre>.c-button.c-button--isUnderline.c-button--isWhite</pre>

  <h5>Carousel Indicators</h5>

  <h5>Carousel Indicators (White)</h5>

  <h5>Pagination</h5>

  <h5>Form Fields</h5>
</article>

<style>
  .swatches {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin: 20px 0;
  }
  .swatch-container {
  }
  .swatch {
    display: block;
    height: 50px;
    width: 100%;
  }
  .swatch-details {
    background: #e5e5e5;
    color: $color-black;
    font-size: 12px;
    padding: 8px;
    text-align: center;
  }
  .bg {
    display: block;
    background-color: #101F2D;
    padding: 20px;
  }
  .bg--light {
    background-color: #5AAAD6;
  }
  pre {
    border-bottom: 1px solid #e5e5e5;
    overflow-x: auto;
  }
</style>