<span class="c-svg">
  <svg width="27" height="11" viewBox="0 0 27 11" xmlns="http://www.w3.org/2000/svg">
    <path d="M27 5.5C27 5.5 27 5.45664 27 5.5C27 5.23987 26.9113 5.02309 26.7338 4.84966C26.7338 4.84966 26.7338 4.84967 26.6894 4.80631C25.1364 3.28886 23.6278 1.81477 22.0748 0.297316C21.143 -0.613154 19.7231 0.774229 20.6549 1.6847C21.6311 2.63852 22.5629 3.54899 23.539 4.50282C16.0403 4.50282 8.49712 4.50282 0.998357 4.50282C-0.332786 4.50282 -0.332786 6.49718 0.998357 6.49718C8.49712 6.49718 16.0403 6.49718 23.539 6.49718C22.5629 7.45101 21.6311 8.36148 20.6549 9.3153C19.7231 10.2258 21.143 11.6132 22.0748 10.7027C23.6278 9.18524 25.1364 7.71114 26.6894 6.19369C26.6894 6.19369 26.6894 6.19369 26.7338 6.15034C26.9113 5.97691 27 5.76013 27 5.5C27 5.54336 27 5.5 27 5.5Z" fill="currentColor"/>
  </svg>
</span>