<span class="c-svg">
  <svg viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M18.6922 2.74662C18.0081 3.06429 17.2728 3.27822 16.5012 3.37466C17.2891 2.88114 17.8942 2.09914 18.1786 1.16722C17.4417 1.62427 16.6251 1.95652 15.7558 2.13561C15.0609 1.36009 14.0684 0.875488 12.9713 0.875488C10.5083 0.875488 8.69842 3.27903 9.25471 5.77415C6.08511 5.60803 3.27423 4.01971 1.3923 1.60563C0.392845 3.39897 0.87398 5.74498 2.57228 6.93298C1.94782 6.91191 1.35899 6.73282 0.845313 6.43379C0.803475 8.28224 2.07023 10.0116 3.90489 10.3965C3.36798 10.5488 2.77992 10.5845 2.1818 10.4646C2.66681 12.0496 4.07534 13.2028 5.74576 13.2352C4.14198 14.5504 2.12137 15.1379 0.0976562 14.8883C1.78589 16.0204 3.79178 16.6809 5.94565 16.6809C13.0286 16.6809 17.0303 10.424 16.7886 4.81225C17.5339 4.24904 18.1809 3.54646 18.6922 2.74662Z" fill="currentColor"/>
  </svg>
</span>