$color-black: #000000;
$color-white: #FFFFFF;
$color-offwhite: #F7F7F7;

$color-primary: #101F2D;
$color-secondary: #FFA200;

$color-success: #27C7BA;
$color-success-light: #93E3DC;
$color-info: #7C7A7A;
$color-warning: #FBCC1F;
$color-error: #F26950;
$color-error-light: #FAC3B9;

$color-body: #FAFAFA;
$color-sidebar: #F5F5F5;
$color-border: #E5E5E5;

$color-hr: rgba($color-black, .15);