<h1 class="c-formTitle">{{ section.settings.title }}</h1>

{% schema %}
  {
    "name": "Form Title",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Account Login/Register Title",
        "default": "My Account"
      }
    ]
  }
{% endschema %}